﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!-- Icon font-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!--JQUERY POPUP Manual Modal-->
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>My ASP.NET  CRUD Operations Using Datatable Plugin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!--Client side Validatation-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--Jquery pop, Manual Modal-->
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <!--Notify , notifcation of events-->
    <script src="~/Scripts/notify.min.js"></script>
    <!--JQUERY Datatable-->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>


        var Popup, dataTable;
        $(document).ready(function () {
           dataTable = $('#employeeTable').DataTable({
                "ajax": {
                    "url": "/Employee/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Position" },
                    { "data": "Office" },
                    { "data": "Age" },
                    { "data": "Salary" },
                    { "data": "EmployeeID", "render": function () {
                        return "<a class='btn btn-default btn-sm'> <i class='fa fa-edit'></i> Edit </a>  <a class='btn btn-danger btn-sm' style='margin-left:5px'> <i class='fa fa-trash'> </i>Delete </a>"
                      },
                        //to remove sorting for the edit and delete column
                        "orderable": false,
                           "width": "150px"
                    }


                ],
                "language": {
                    "emptyTable" : "No data found, Please Click on <b> Add New </b> Button "
                }

            });

        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Employee Detatils',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }


        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form)
            if ($(form).valid())
            {
                 $.ajax({
                    type: "POST", 
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            //for notification
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className : "success"
                            })
                        }
                    }
                });
            }
               
             return false;
            }

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
