﻿
@{
    ViewBag.Title = "Employee List";
}

<h2>Employee CRUD Operations</h2>
<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit", "Employee")')"> <i class="fa fa-plus-square"></i> Add New</a> 


<table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
   <thead> 
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Salary</th>
        <th> </th>
    </tr>
   </thead>
</table>


